@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@font-face {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/titan-one-v8-latin-regular.eot");
  src: local(""), url("/fonts/titan-one-v8-latin-regular.woff2") format("woff2"), url("/fonts/titan-one-v8-latin-regular.woff") format("woff"), url("/fonts/titan-one-v8-latin-regular.ttf") format("truetype"), url("/fonts/titan-one-v8-latin-regular.svg#TitanOne") format("svg");
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/dm-sans-v6-latin-regular.eot");
  src: local(""), url("/fonts/dm-sans-v6-latin-regular.woff2") format("woff2"), url("/fonts/dm-sans-v6-latin-regular.woff") format("woff"), url("/fonts/dm-sans-v6-latin-regular.ttf") format("truetype"), url("/fonts/dm-sans-v6-latin-regular.svg#DMSans") format("svg");
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/dm-sans-v6-latin-500.eot");
  src: local(""), url("/fonts/dm-sans-v6-latin-500.woff2") format("woff2"), url("/fonts/dm-sans-v6-latin-500.woff") format("woff"), url("/fonts/dm-sans-v6-latin-500.ttf") format("truetype"), url("/fonts/dm-sans-v6-latin-500.svg#DMSans") format("svg");
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/dm-sans-v6-latin-700.eot");
  src: local(""), url("/fonts/dm-sans-v6-latin-700.woff2") format("woff2"), url("/fonts/dm-sans-v6-latin-700.woff") format("woff"), url("/fonts/dm-sans-v6-latin-700.ttf") format("truetype"), url("/fonts/dm-sans-v6-latin-700.svg#DMSans") format("svg");
}

:root {
  --main-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', sans-serif;
  --hero-header-bg: #ffb8ca;
  --mobile-menu-bg: #e17992;
  --menu-border: #e18298;
  --section-bg: #fff5f6;
  --slider-color: #fafafa;
  --home-icon-color: #d31342;
  --red-dots-color: #c7133e;
  --grey-dots-color: #d9d9d9;
  --accent-color: #d41443;
  --button-accent-color: #c7133e;
  --button-second-accent-color: #ecebeb;
  --label-color: #ffa5ba;
  --ice-cream-color: #ffb8ca;
  --ice-coffee-color: #f0d1a5;
  --milkshakes-color: #c2e297;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-brown-color: #907e82;
  --separate-line-color: #e1e1e1;
  --shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  line-height: 1.29;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--white-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 1280px) {
  .link {
    font-size: 16px;
    line-height: 1.31;
  }
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 740px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1090px;
  }
}

.menu-wrapper {
  display: none;
  width: 100%;
  height: 100vw;
  top: 0;
  right: 0;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  background-color: var(--mobile-menu-bg);
  -webkit-animation: slide 100ms linear;
          animation: slide 100ms linear;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu-wrapper {
    width: 254px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-wrapper {
    width: auto;
    height: auto;
    background-color: transparent;
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  @-webkit-keyframes slide {
    from {
      width: 0px;
    }
    to {
      width: 100%;
    }
  }
  @keyframes slide {
    from {
      width: 0px;
    }
    to {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  @-webkit-keyframes slide {
    from {
      width: 0px;
    }
    to {
      width: 260px;
    }
  }
  @keyframes slide {
    from {
      width: 0px;
    }
    to {
      width: 260px;
    }
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.is-open {
  display: block;
  position: fixed;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  height: 100vh;
}

.is-open .mobile-menu__icon--open {
  display: none;
}

.mobile-menu__icon--close {
  display: none;
}

.is-open .mobile-menu__icon--close {
  display: block;
}

.mobile-menu__button {
  top: 23px;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}

.mobile-menu__button.is-open {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__icon {
  width: 20px;
  height: 20px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .menu__item:not(:last-child) {
    margin-right: 35px;
    margin-bottom: 0;
  }
}

.menu__button {
  display: block;
  width: 209px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-weight: bold;
  line-height: 1.31;
  color: var(--accent-color);
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

@media screen and (min-width: 1280px) {
  .menu__button {
    width: 159px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 110px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu__button {
    width: 186px;
  }
}

.menu__button:hover {
  background-color: var(--button-second-accent-color);
}

.menu__button-icon {
  margin-left: 16px;
  width: 10px;
  height: 10px;
}

.menu__list::before {
  content: '';
  display: block;
  border: 1px solid var(--menu-border);
  margin-bottom: 11px;
}

.menu__item::after {
  content: '';
  display: block;
  border: 1px solid var(--menu-border);
  margin-top: 11px;
}

@media screen and (min-width: 1280px) {
  .menu__list::before,
  .menu__item::after {
    content: none;
  }
}

.menu__link--curent {
  color: var(--accent-color);
}

.heading-secondary-label {
  font-family: var --title-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var --label-color;
}

@media screen and (min-width: 768px) {
  .heading-secondary-label {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .heading-secondary-label {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.heading-secondary {
  font-family: var --title-font;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var --accent-color;
}

@media screen and (min-width: 768px) {
  .heading-secondary {
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .heading-secondary {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 22px;
}

.button--white {
  color: var(--accent-color);
  background-color: var(--white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--white:hover, .button--white:focus {
  background-color: #ecebeb;
  color: var(--accent-color);
}

.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: 0.03em;
  width: 176px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .about__button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 0.03em;
    margin-top: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .about__button {
    margin-left: 42px;
    margin-top: 44px;
  }
}

.about__button-icon {
  width: 8px;
  height: 16px;
  margin-left: 14px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-left: -70px;
  }
}

.logo_img {
  width: 199px;
  height: 50px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  .header__buttons {
    display: none;
  }
}

.header__button {
  display: block;
  width: 160px;
  height: 44px;
  margin-left: 30px;
  line-height: 1.31;
  font-weight: bold;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--white-color);
  border-radius: 22px;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

@media screen and (max-width: 767.98px) {
  .header__button {
    display: none;
  }
}

.header__button:hover {
  background-color: var(--button-second-accent-color);
}

.mobile-menu__button.is-open + .header__button {
  display: none;
}

.header__button-icon {
  margin-left: 16px;
  width: 10px;
  height: 10px;
}

.header__mobile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  overflow: hidden;
  height: 502px;
  background-color: var(--hero-header-bg);
}

@media screen and (min-width: 768px) {
  .hero {
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 665px;
  }
}

.hero__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 192px;
}

@media screen and (min-width: 768px) {
  .hero__title-wrapper {
    padding-top: 102px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title-wrapper {
    padding-top: 171px;
  }
}

.hero__title {
  display: block;
  font-family: var(--title-font);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
  z-index: 4;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title-cl {
  font-size: 45px;
  display: block;
  line-height: 0.95;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero__title-cl {
    font-size: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title-cl {
    font-size: 60px;
  }
}

.hero__number-list {
  display: none;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero__number-list {
    display: block;
  }
}

.hero__number-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--white-color);
}

@media screen and (min-width: 1280px) {
  .hero__number-list-item {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero__number-list-item::after {
  content: '';
  position: absolute;
  right: -8px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white-color);
  z-index: 1;
}

.hero__number-list-digit {
  color: var(--accent-color);
  font-family: var(--title-font);
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  text-transform: uppercase;
  z-index: 5;
}

@media screen and (min-width: 1280px) {
  .hero__number-list-digit {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  z-index: 3;
}

@media screen and (min-width: 1280px) {
  .hero__buttons {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero__buttons--products {
  width: 62px;
  height: 24px;
  margin-right: 8px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

@media screen and (min-width: 1280px) {
  .hero__buttons--products {
    width: 104px;
    height: 40px;
    margin-right: 15px;
  }
}

.hero__buttons--products:hover {
  background-color: var(--button-accent-color);
}

.hero__buttons--made {
  width: 83px;
  height: 24px;
  color: var(--accent-color);
  background-color: var(--white-color);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

@media screen and (min-width: 1280px) {
  .hero__buttons--made {
    width: 138px;
    height: 40px;
  }
}

.hero__buttons--made:hover {
  background-color: var(--button-second-accent-color);
}

.hero__images {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 480px) {
  .hero__images {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero__images {
    width: 100%;
  }
}

.hero__images--circle {
  position: absolute;
  top: 75px;
  left: 15px;
  z-index: 0;
  width: 346px;
  height: 344px;
  background-color: var(--label-color);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .hero__images--circle {
    top: 30px;
    left: 270px;
    width: 324px;
    height: 322px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__images--circle {
    top: 52px;
    left: 350px;
    width: 538px;
    height: 538px;
  }
}

.hero__images--icecream {
  position: absolute;
  top: 92px;
  left: 90px;
  width: 171px;
  height: 410px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .hero__images--icecream {
    top: 63px;
    left: 350px;
    width: 143px;
    height: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__images--icecream {
    top: 108px;
    left: 480px;
    width: 236px;
    height: 557px;
  }
}

.hero__images--girl {
  position: absolute;
  top: 266px;
  right: 0;
}

@media screen and (max-width: 767.98px) {
  .hero__images--girl {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero__images--girl {
    width: 293px;
    height: 232px;
    top: 433px;
    right: 0;
  }
}

.header__about {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .header__about {
    margin-top: 56px;
    margin-left: -40px;
  }
}

@media screen and (min-width: 1280px) {
  .header__about-img {
    width: 188px;
    height: 191px;
  }
}

.header__description {
  width: 135px;
  margin-left: 30px;
  padding-top: 30px;
}

@media screen and (min-width: 1280px) {
  .header__description {
    width: 200px;
    margin-left: 30px;
    padding-top: 0;
  }
}

.header__description-text {
  text-align: left;
  font-size: 8px;
  line-height: 1.5;
  color: var(--white-color);
}

@media screen and (min-width: 1280px) {
  .header__description-text {
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    color: var(--white-color);
  }
}

.header__description-button {
  display: block;
  background-color: transparent;
  padding-top: 7px;
  cursor: pointer;
}

.products {
  padding-bottom: 98px;
  padding-top: 122px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-bottom: 119px;
    padding-top: 127px;
  }
}

.products__item--first {
  background-color: var(--ice-cream-color);
  position: relative;
}

.products__item--first::before {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  position: absolute;
  z-index: 100;
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-image: url(/images/products/mobile/pic1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .products__item--first::before {
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .products__item--first::before {
    width: 335px;
    height: 335px;
    -webkit-transform: translate(-50%, -62%);
            transform: translate(-50%, -62%);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--first::before {
    background-image: url(/images/products/mobile/pic1@2x.jpg);
  }
}

@media (min-width: 480px) {
  .products__item--first::before {
    background-image: url(/images/products/tablet/pic1.jpg);
  }
}

@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 192dpi), (min-width: 480px) and (min-resolution: 2dppx) {
  .products__item--first::before {
    background-image: url(/images/products/tablet/pic1@2x.jpg);
  }
}

@media (min-width: 768px) {
  .products__item--first::before {
    background-image: url(/images/products/desktop/pic1.jpg);
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--first::before {
    background-image: url(/images/products/desktop/pic1@2x.jpg);
  }
}

.products__item--second {
  background-color: var(--ice-coffee-color);
  position: relative;
}

.products__item--second::before {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  position: absolute;
  z-index: 100;
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-image: url(/images/products/mobile/pic2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .products__item--second::before {
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .products__item--second::before {
    width: 335px;
    height: 335px;
    -webkit-transform: translate(-50%, -62%);
            transform: translate(-50%, -62%);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--second::before {
    background-image: url(/images/products/mobile/pic2@2x.jpg);
  }
}

@media (min-width: 480px) {
  .products__item--second::before {
    background-image: url(/images/products/tablet/pic2.jpg);
  }
}

@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 192dpi), (min-width: 480px) and (min-resolution: 2dppx) {
  .products__item--second::before {
    background-image: url(/images/products/tablet/pic2@2x.jpg);
  }
}

@media (min-width: 768px) {
  .products__item--second::before {
    background-image: url(/images/products/desktop/pic2.jpg);
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--second::before {
    background-image: url(/images/products/desktop/pic2@2x.jpg);
  }
}

.products__item--third {
  background-color: var(--milkshakes-color);
  position: relative;
}

.products__item--third::before {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  position: absolute;
  z-index: 100;
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-image: url(/images/products/mobile/pic3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .products__item--third::before {
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .products__item--third::before {
    width: 335px;
    height: 335px;
    -webkit-transform: translate(-50%, -62%);
            transform: translate(-50%, -62%);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--third::before {
    background-image: url(/images/products/mobile/pic3@2x.jpg);
  }
}

@media (min-width: 480px) {
  .products__item--third::before {
    background-image: url(/images/products/tablet/pic3.jpg);
  }
}

@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 192dpi), (min-width: 480px) and (min-resolution: 2dppx) {
  .products__item--third::before {
    background-image: url(/images/products/tablet/pic3@2x.jpg);
  }
}

@media (min-width: 768px) {
  .products__item--third::before {
    background-image: url(/images/products/desktop/pic3.jpg);
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--third::before {
    background-image: url(/images/products/desktop/pic3@2x.jpg);
  }
}

.products__label {
  margin-bottom: 15px;
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--label-color);
}

@media screen and (min-width: 768px) {
  .products__label {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .products__label {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  margin-bottom: 30px;
  font-family: var(--title-font);
  font-size: 34px;
  line-height: 1.14;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 40px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 50px;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.products__item {
  display: block;
  padding: 155px 40px 40px 40px;
  width: 280px;
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .products__item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .products__item {
    padding: 155px 11px 40px 11px;
    width: 220px;
  }
}

@media screen and (min-width: 1280px) {
  .products__item {
    padding: 165px 45px 50px 45px;
    -ms-flex-preferred-size: 329px;
        flex-basis: 329px;
  }
}

@media screen and (max-width: 767px) {
  .products__item:not(:last-child) {
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .products__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .products__item:not(:last-child) {
    margin-right: 30px;
  }
}

.products__list {
  display: block;
  margin-top: 144px;
}

@media screen and (min-width: 768px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list {
    margin-top: 260px;
  }
}

.products__second-title {
  margin-bottom: 30px;
  font-family: var(--title-font);
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1280px) {
  .products__second-title {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .products__description {
    font-size: 14px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1280px) {
  .products__description {
    font-size: 16px;
  }
}

.products__description::before {
  content: '';
  display: block;
  width: 26px;
  height: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  background-image: url(/images/products/dots/dots-sec-ver.png);
}

@media screen and (min-width: 1280px) {
  .products__description::before {
    margin-bottom: 32px;
  }
}

.products__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .products__btn {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .products__btn {
    margin-top: 62px;
  }
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, var(--section-bg)), color-stop(40%, var(--white-color)), color-stop(60%, var(--white-color)));
  background-image: linear-gradient(to bottom, var(--section-bg) 40%, var(--white-color) 40%, var(--white-color) 60%);
}

.reviews {
  padding-top: 80px;
  padding-bottom: 86px;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 121px;
    padding-bottom: 119px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.reviews__img {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__content {
  position: relative;
  background-color: var(--slider-color);
  padding: 43px 60px 26px 60px;
  margin-bottom: 52px;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .reviews__content {
    width: 620px;
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__content {
    width: 926px;
    margin-bottom: 34px;
  }
}

.reviews__content::before {
  content: '';
  width: 54px;
  height: 40px;
  position: absolute;
  top: 28px;
  left: 61px;
  z-index: 10;
  background-image: url("/images/slider/brackets@1x.png");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews__content::before {
    background-image: url("/images/slider/brackets@2x.png");
    background-size: 54px 40px;
  }
}

.reviews__text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  max-width: 157px;
  z-index: 20;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 30px, var(--separate-line-color) 30px, var(--separate-line-color) 31px);
  background-repeat: no-repeat;
}

@media screen and (max-width: 767.9px) {
  .reviews__text {
    min-height: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .reviews__text {
    max-width: 460px;
    min-height: 93px;
    font-size: 14px;
    line-height: 2.16;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__text {
    min-width: 750px;
    min-height: 74px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.reviews__name {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  margin-bottom: 30px;
}

.reviews__name::before {
  content: '';
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 4px;
  background-image: url("/images/slider/dots@1x.png");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews__name::before {
    background-image: url("/images/slider/dots@2x.png");
    background-size: 32px 4px;
  }
}

@media screen and (min-width: 768px) {
  .reviews__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__name {
    font-size: 20px;
  }
}

.about__section {
  padding-top: 126px;
  background-color: var(--section-bg);
}

@media screen and (max-width: 767px) {
  .about__section {
    background-image: url(/images/about/about-background-image-mobile.png);
    background-position: center bottom 60px;
    background-repeat: no-repeat;
    background-size: 100% 133px;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .about__section {
    background-image: url(/images/about/about-background-image-mobile@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .about__section {
    background-image: url(/images/about/about-background-image-desktop.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 534px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), (min-resolution: 192dpi) and (min-width: 1280px), (min-resolution: 2dppx) and (min-width: 1280px) {
  .about__section {
    background-image: url(/images/about/about-background-image-desktop@2x.png);
  }
}

.about__suptitle {
  font-family: var(--accent-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--label-color);
  margin-bottom: 16px;
}

.about__suptitle::-moz-selection {
  color: var(--white-color);
  background-color: var(--hero-header-bg);
}

.about__suptitle::selection {
  color: var(--white-color);
  background-color: var(--hero-header-bg);
}

@media screen and (min-width: 768px) {
  .about__suptitle {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .about__suptitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about__title {
  font-family: var(--title-font);
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 26px;
}

.about__title::-moz-selection {
  color: var(--white-color);
  background-color: var(--hero-header-bg);
}

.about__title::selection {
  color: var(--white-color);
  background-color: var(--hero-header-bg);
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 768px) {
  .about__box-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
  }
}

@media screen and (min-width: 1280px) {
  .about__box-description {
    margin-top: -30px;
    margin-left: -30px;
    padding-bottom: 56px;
  }
}

.about__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 14px;
  text-align: left;
  color: #907e82;
}

.about__text::-moz-selection {
  color: var(--white-color);
  background-color: var(--hero-header-bg);
}

.about__text::selection {
  color: var(--white-color);
  background-color: var(--hero-header-bg);
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.76;
    letter-spacing: 0.03em;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-bottom: 14px;
    padding-left: 42px;
  }
}

.about__text_color {
  margin-bottom: 32px;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .about__text_color {
    padding-top: 52px;
  }
}

@media screen and (max-width: 767px) {
  .about__left-side {
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 768px) {
  .about__left-side {
    margin-top: 20px;
    margin-left: 20px;
    -ms-flex-preferred-size: calc((100% - 40px) / 2);
        flex-basis: calc((100% - 40px) / 2);
  }
}

.about__right-side:first-child {
  margin-bottom: 32px;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .about__right-side:first-child {
    padding-top: 52px;
  }
}

@media screen and (min-width: 768px) {
  .about__right-side {
    margin-top: 20px;
    margin-left: 20px;
    -ms-flex-preferred-size: calc((100% - 40px) / 2);
        flex-basis: calc((100% - 40px) / 2);
  }
}

.advantage {
  background-color: var(--section-bg);
  padding-top: 39px;
  padding-bottom: 97px;
  text-align: left;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -38px;
}

.advantage__item {
  margin-top: 38px;
  -ms-flex-preferred-size: calc(100%);
      flex-basis: calc(100%);
}

.advantage__subtitle {
  font-family: var(--title-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #d41443;
}

.advantage__subtitle::before {
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantage__subtitle__icon1::before {
  background-image: url("/images/advantages/icon1.png");
}

.advantage__subtitle__icon2::before {
  background-image: url("/images/advantages/icon2.png");
}

.advantage__subtitle__icon3::before {
  background-image: url("/images/advantages/icon3.png");
}

.advantage__text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0;
  color: #000000;
  max-width: 230px;
}

@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 66px;
    padding-bottom: 140px;
  }
  .advantage__list {
    margin-top: -60px;
    margin-left: -60px;
  }
  .advantage__item {
    margin-top: 60px;
    margin-left: 60px;
    -ms-flex-preferred-size: calc((100% - 180px) / 3);
        flex-basis: calc((100% - 180px) / 3);
  }
  .advantage__subtitle {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
  .advantage__subtitle::before {
    margin-bottom: 36px;
  }
  .advantage__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.74;
    letter-spacing: 0;
    max-width: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .advantage {
    padding-top: 0px;
    padding-bottom: 140px;
  }
  .advantage__list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .advantage__item {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
  .advantage__subtitle {
    font-size: 58px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
  .advantage__subtitle::-moz-selection {
    color: var(--white-color);
    background-color: var(--hero-header-bg);
  }
  .advantage__subtitle::selection {
    color: var(--white-color);
    background-color: var(--hero-header-bg);
  }
  .advantage__subtitle::before {
    margin-bottom: 40px;
  }
  .advantage__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0.02em;
    max-width: 330px;
  }
  .advantage__text::-moz-selection {
    color: var(--white-color);
    background-color: var(--hero-header-bg);
  }
  .advantage__text::selection {
    color: var(--white-color);
    background-color: var(--hero-header-bg);
  }
}

.contacts {
  padding-bottom: 113px;
  background-image: linear-gradient(var(--white-color) 84px, var(--section-bg) 84px);
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-bottom: 158px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    padding-bottom: 165px;
    background-image: linear-gradient(var(--white-color) 102px, var(--section-bg) 102px), url("/images/contacts/desktop/img-bg.png");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url("/images/contacts/desktop/img-bg@2x.png"), linear-gradient(var(--white-color) 102px, var(--section-bg) 102px);
  }
}

.contacts__list {
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 81px;
  }
}

.contacts__list-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 427px;
  padding: 43px 20px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__list-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__list-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list-item {
    margin-bottom: 0px;
    width: calc((100% - 18px * 3) / 3);
    height: 544px;
    padding: 50px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__list-item {
    width: calc((100% - 30px * 3) / 3);
    height: 572px;
    padding: 51px 44px 62px;
  }
}

.contacts__list-item-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 3px 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  display: block;
  color: var(--white-color);
  background-color: var(--ice-coffee-color);
}

@media screen and (min-width: 768px) {
  .contacts__list-item-label {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.contacts__list-item-label--truck {
  background-color: var(--milkshakes-color);
}

.contacts__list-item-decore {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--separate-line-color);
}

.contacts__list-item-city,
.contacts__list-item-days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .contacts__list-item-city,
  .contacts__list-item-days {
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__list-item-city,
  .contacts__list-item-days {
    font-size: 16px;
  }
}

.contacts__list-item-city {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__list-item-city {
    margin-bottom: 14px;
  }
}

.contacts__list-item-city-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--light-brown-color);
}

@media screen and (min-width: 768px) {
  .contacts__list-item-city-description {
    font-size: 14px;
    line-height: 1.64;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__list-item-city-description {
    font-size: 16px;
    line-height: 1.81;
    letter-spacing: 0.04em;
  }
}

.contacts__list-item-schedule-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__list-item-schedule-content:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__list-item-schedule-content:not(:last-child) {
    margin-bottom: 16px;
  }
}

.contacts__list-item-days--open {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--label-color);
}

@media screen and (min-width: 768px) {
  .contacts__list-item-days--open {
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__list-item-days--open {
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts__list-item-contacts-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .contacts__list-item-contacts-info {
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__list-item-contacts-info {
    font-size: 16px;
    line-height: 1.81;
  }
}

.link.contacts__list-item-contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--light-brown-color);
}

@media screen and (min-width: 768px) {
  .link.contacts__list-item-contacts-link {
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1280px) {
  .link.contacts__list-item-contacts-link {
    font-size: 16px;
    line-height: 1.81;
  }
}

.link.contacts__list-item-contacts-link:hover,
.link.contacts__list-item-contacts-link:focus {
  color: var(--label-color);
}

.contacts__button {
  width: 161px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.contacts__button:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__button:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__button {
    margin-left: 0;
    margin-right: 0px;
  }
}

.contacts__button--locations {
  padding: 12px 20px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.contacts__button--locations:hover, .contacts__button--locations:focus {
  background-color: var(--button-accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__button--locations {
    width: 191px;
    padding: 12px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button--locations {
    width: 198px;
    padding: 12px 35px;
  }
}

.contacts__button--franchise {
  padding: 12px 32px;
  color: var(--accent-color);
  background-color: var(--white-color);
}

.contacts__button--franchise:hover, .contacts__button--franchise:focus {
  background-color: var(--button-second-accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__button--franchise {
    width: 174px;
    padding: 12px 38px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button--franchise {
    width: 180px;
    padding: 12px 39px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list-buttons-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  width: 100%;
  background-color: var(--section-bg);
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 43px;
  padding-right: 34px;
  width: 260px;
}

@media screen and (min-width: 768px) {
  .footer__title {
    width: 360px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title {
    width: 520px;
    padding-right: 0;
  }
}

.footer__title-text {
  font-size: 18px;
  line-height: 1.17;
  color: var(--label-color);
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .footer__title-text {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title-text {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
  }
}

.footer__title-type {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer__title-type {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title-type {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.footer__social {
  padding-bottom: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.footer__social-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

@media screen and (min-width: 1280px) {
  .footer__social-svg {
    margin-bottom: 50px;
  }
}

.footer__social-type:not(:last-child) {
  margin-right: 24px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: var(--label-color);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.footer__social-link:hover {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer__social-link {
    width: 34px;
    height: 34px;
  }
}

@media screen and (min-width: 768px) {
  .footer__social-click {
    width: 34px;
    height: 34px;
  }
}

.footer__social-contacts {
  text-align: right;
}

.footer__social-span {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .footer__social-span {
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1280px) {
  .footer__social-span {
    font-size: 16px;
    line-height: 1.87;
  }
}

.footer__social-tel {
  text-decoration: none;
  color: var(--accent-color);
}

.footer__copy {
  border-top: 1px solid var(--separate-line-color);
}

.footer__copyright {
  padding-top: 22px;
  padding-bottom: 25px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--light-brown-color);
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 1.86;
    max-width: 290px;
    padding-top: 29px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__copyright {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */