@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --main-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', sans-serif;
  --hero-header-bg: #ffb8ca;
  --mobile-menu-bg: #e17992;
  --section-bg: #fff5f6;
  --slider-color: #fafafa;
  --home-icon-color: #d31342;
  --red-dots-color: #c7133e;
  --grey-dots-color: #d9d9d9;
  --accent-color: #d41443;
  --button-accent-color: #c7133e;
  --buton-second-accent-color: #ecebeb;
  --label-color: #ffa5ba;
  --ice-cream-color: #ffb8ca;
  --ice-coffee-color: #f0d1a5;
  --milkshakes-color: #c2e297;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-brown-color: #907e82;
  --separate-line-color: #e1e1e1;
  --shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.76;
  letter-spacing: 0.04em;
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  line-height: 1.29;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--white-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 1280px) {
  .link {
    font-size: 16px;
    line-height: 1.31;
  }
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    max-width: 1600px;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-left: -70px;
  }
}
.logo_img {
  width: 199px;
  height: 50px;
}

.header__buttons {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .header__buttons {
    display: none;
  }
}

.header__button {
  display: block;
  width: 160px;
  height: 44px;
  margin-left: 30px;
  line-height: 1.31;
  font-weight: bold;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--white-color);
  border-radius: 22px;
  transition: background-color 250ms var(--timing-function);
}
@media screen and (max-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__button:hover {
  background-color: var(--buton-second-accent-color);
}

.mobile-menu__button.is-open + .header__button {
  display: none;
}

.header__button-icon {
  margin-left: 16px;
  width: 8px;
  height: 8px;
}

.header__mobile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-wrapper {
  display: none;
  width: 100%;
  height: 100vw;
  top: 0;
  right: 0;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  background-color: var(--mobile-menu-bg);
  animation: slide 100ms linear;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu-wrapper {
    width: 254px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-wrapper {
    width: auto;
    height: auto;
    background-color: transparent;
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  @keyframes slide {
    from {
      width: 0px;
    }
    to {
      width: 100%;
    }
  }
}
@media screen and (min-width: 768px) {
  @keyframes slide {
    from {
      width: 0px;
    }
    to {
      width: 260px;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .menu {
    flex-direction: row-reverse;
  }
}

.is-open {
  display: block;
  position: fixed;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
}

.is-open .mobile-menu__icon--open {
  display: none;
}

.mobile-menu__icon--close {
  display: none;
}

.is-open .mobile-menu__icon--close {
  display: block;
}

.mobile-menu__button {
  top: 23px;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}

.mobile-menu__buton.is-open {
  position: fixed;
}

.mobile-menu__icon {
  width: 20px;
  height: 20px;
}

.menu__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .menu__list {
    align-items: center;
    flex-direction: row;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 13px;
}
@media screen and (min-width: 1280px) {
  .menu__item:not(:last-child) {
    margin-right: 35px;
    margin-bottom: 0;
  }
}

.menu__button {
  display: block;
  width: 209px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-weight: bold;
  line-height: 1.31;
  color: var(--accent-color);
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
@media screen and (min-width: 1280px) {
  .menu__button {
    width: 159px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 110px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu__button {
    width: 186px;
  }
}

.menu__button:hover {
  background-color: var(--buton-second-accent-color);
}

.menu__button-icon {
  margin-left: 16px;
  width: 8px;
  height: 8px;
}

.menu__list::before {
  content: '';
  display: block;
  border: 1px solid #e18298;
  margin-bottom: 11px;
}

.menu__item::after {
  content: '';
  display: block;
  border: 1px solid #e18298;
  margin-top: 11px;
}

@media screen and (min-width: 1280px) {
  .menu__list::before,
  .menu__item::after {
    content: none;
  }
}

.hero {
  overflow: hidden;
  height: 502px;
  background-color: var(--hero-header-bg);
}
@media screen and (min-width: 768px) {
  .hero {
    height: 399px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 665px;
  }
}

.hero__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 192px;
}
@media screen and (min-width: 768px) {
  .hero__title-wrapper {
    padding-top: 102px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title-wrapper {
    padding-top: 171px;
  }
}

.hero__title {
  display: block;
  font-family: var(--title-font);
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--white-color);
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title-cl {
  font-size: 45px;
  display: block;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero__title-cl {
    font-size: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title-cl {
    font-size: 60px;
  }
}

.hero__number-list {
  display: none;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__number-list {
    display: block;
  }
}

.hero__number-list-item {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--white-color);
}
@media screen and (min-width: 1280px) {
  .hero__number-list-item {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero__number-list-item::after {
  content: '';
  position: absolute;
  right: -8px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white-color);
  z-index: 1;
}

.hero__number-list-digit {
  color: var(--accent-color);
  font-family: var(--title-font);
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  text-transform: uppercase;
  z-index: 5;
}
@media screen and (min-width: 1280px) {
  .hero__number-list-digit {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__buttons {
  display: flex;
  margin-top: 19px;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  z-index: 3;
}
@media screen and (min-width: 1280px) {
  .hero__buttons {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero__buttons--products {
  width: 62px;
  height: 24px;
  margin-right: 8px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
  transition: background-color 250ms var(--timing-function);
}
@media screen and (min-width: 1280px) {
  .hero__buttons--products {
    width: 104px;
    height: 40px;
    margin-right: 15px;
  }
}

.hero__buttons--products:hover {
  background-color: var(--button-accent-color);
}

.hero__buttons--made {
  width: 83px;
  height: 24px;
  color: var(--accent-color);
  background-color: var(--white-color);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
  transition: background-color 250ms var(--timing-function);
}
@media screen and (min-width: 1280px) {
  .hero__buttons--made {
    width: 138px;
    height: 40px;
  }
}

.hero__buttons--made:hover {
  background-color: var(--buton-second-accent-color);
}

.hero__images {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 480px) {
  .hero__images {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero__images {
    width: 100%;
  }
}

.hero__images--circle {
  position: absolute;
  top: 75px;
  left: 15px;
  z-index: 0;
  width: 346px;
  height: 344px;
  background-color: var(--label-color);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .hero__images--circle {
    top: 30px;
    left: 270px;
    width: 324px;
    height: 322px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__images--circle {
    top: 52px;
    left: 350px;
    width: 538px;
    height: 538px;
  }
}

.hero__images--icecream {
  position: absolute;
  top: 92px;
  left: 100px;
  width: 171px;
  height: 410px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__images--icecream {
    top: 63px;
    left: 350px;
    width: 143px;
    height: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__images--icecream {
    top: 108px;
    left: 480px;
    width: 236px;
    height: 557px;
  }
}

.hero__images--girl {
  position: absolute;
  top: 266px;
  right: 0;
}
@media screen and (max-width: 768px) {
  .hero__images--girl {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__images--girl {
    width: 293px;
    height: 232px;
    top: 433px;
    right: 0;
  }
}

.header__about {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__about {
    display: flex;
    align-items: center;
    margin-top: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .header__about {
    margin-top: 56px;
    margin-left: -40px;
  }
}

@media screen and (min-width: 1280px) {
  .header__about-img {
    width: 188px;
    height: 191px;
  }
}
.header__description {
  width: 135px;
  margin-left: 30px;
  padding-top: 30px;
}
@media screen and (min-width: 1280px) {
  .header__description {
    width: 200px;
    margin-left: 30px;
    padding-top: 0;
  }
}

.header__description-text {
  text-align: left;
  font-size: 8px;
  line-height: 1.5;
  color: var(--white-color);
}
@media screen and (min-width: 1280px) {
  .header__description-text {
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    color: var(--white-color);
  }
}

.header__description-button {
  display: block;
  background-color: transparent;
  padding-top: 7px;
  cursor: pointer;
}

.gallery {
  background-image: linear-gradient(
    to bottom,
    var(--section-bg) 40%,
    var(--white-color) 40%,
    var(--white-color) 60%
  );
}

.reviews {
  padding-top: 80px;
  padding-bottom: 170px;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 121px;
    padding-bottom: 197px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding-top: 123px;
    padding-bottom: 234px;
  }
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.reviews__img {
  margin-bottom: 30px;
}

.reviews__content {
  position: relative;
  background-color: var(--slider-color);
  padding: 43px 60px 26px 60px;
  margin-bottom: 30px;
}

.reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  z-index: 10;
  background-image: repeating-linear-gradient(
    to bottom,
    var(--slider-color),
    var(--slider-color) 31px,
    var(--separate-line-color) 31px,
    var(--separate-line-color) 32px
  );
}
/*# sourceMappingURL=main.css.map */
