<section class="advantage section">
  <div class="container">
    <h2 class="advantage__title visually-hidden" id="advantages">Advantages</h2>

    <ul class="advantage__list list">
      <li class="advantage__item">
        <h3 class="advantage__subtitle advantage__icon1">721</h3>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantage__item">
        <h3 class="advantage__subtitle advantage__icon2">16kg</h3>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantage__item">
        <h3 class="advantage__subtitle advantage__icon3">84</h3>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
