<section id="contacts" class="section contacts">

    <div class="container contacts">

    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts__list">
            <li class="contacts__list-item">

                <span class="contacts__list-item-label">Cafe</span>

                <div class="contacts__list-item-location">
                    <span class="contacts__list-item-city">Chicago</span>
                    <p class="contacts__list-item-city-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <span class="contacts__list-item-decore"></span>

                <ul class="contacts__list-item-schedule">
                    <li class="contacts__list-item-schedule-content" >
                        <span class="contacts__list-item-days">Monday - Friday</span>
                        <time class="contacts__list-item-days--open">06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="contacts__list-item-schedule-content">
                        <span class="contacts__list-item-days">Saturday - Sunday</span>
                        <time class="contacts__list-item-days--open">08:00 AM - 16:00 PM</time>
                    </li>
                </ul>

                <span class="contacts__list-item-decore"></span>

                <ul class="contacts__list-item-contacts">
                    <li class="contacts__list-item-contacts-info">
                        <a href="tel:+610383766284 " class="link contacts__list-item-contacts-link" aria-label="Phone number">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__list-item-contacts-info">
                        <a href="mailto:noreply@envato.com" class="link contacts__list-item-contacts-link" aria-label="Email">noreply@envato.com</a>
                    </li>
                </ul>
        
            </li>

            <li class="contacts__list-item">
                <span class="contacts__list-item-label contacts__list-item-label--truck">Food Truck</span>
            
                <div class="contacts__list-item-location">
                    <span class="contacts__list-item-city">Los Angeles</span>
                    <p class="contacts__list-item-city-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <span class="contacts__list-item-decore"></span>
            
                <ul class="contacts__list-item-schedule">
                    <li class="contacts__list-item-schedule-content">
                        <span class="contacts__list-item-days">Monday - Friday</span>
                        <time class="contacts__list-item-days--open">06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="contacts__list-item-schedule-content">
                        <span class="contacts__list-item-days">Saturday - Sunday</span>
                        <time class="contacts__list-item-days--open">08:00 AM - 16:00 PM</time>
                    </li>
                </ul>

                <span class="contacts__list-item-decore"></span>
            
                <ul class="contacts__list-item-contacts">
                    <li class="contacts__list-item-contacts-info">
                        <a href="tel:+610383766284 " class="link contacts__list-item-contacts-link" aria-label="Phone number">+61(0)
                            383 766 284</a>
                    </li>
                    <li class="contacts__list-item-contacts-info">
                        <a href="mailto:noreply@envato.com" class="link contacts__list-item-contacts-link"
                            aria-label="Email">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

        <li class="contacts__list-item">
            <span class="contacts__list-item-label">Cafe</span>
        
            <div class="contacts__list-item-location">
                <span class="contacts__list-item-city">New York</span>
                <p class="contacts__list-item-city-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>

            <span class="contacts__list-item-decore"></span>
        
            <ul class="contacts__list-item-schedule">
                <li class="contacts__list-item-schedule-content">
                    <span class="contacts__list-item-days">Monday - Friday</span>
                    <time class="contacts__list-item-days--open">06:00 AM - 10:00 PM</time>
                </li>
                <li class="contacts__list-item-schedule-content">
                    <span class="contacts__list-item-days">Saturday - Sunday</span>
                    <time class="contacts__list-item-days--open">08:00 AM - 16:00 PM</time>
                </li>
            </ul>

            <span class="contacts__list-item-decore"></span>
        
            <ul class="contacts__list-item-contacts">
                <li class="contacts__list-item-contacts-info">
                    <a href="tel:+610383766284 " class="link contacts__list-item-contacts-link" aria-label="Phone number">+61(0)
                        383 766 284</a>
                </li>
                <li class="contacts__list-item-contacts-info">
                    <a href="mailto:noreply@envato.com" class="link contacts__list-item-contacts-link"
                        aria-label="Email">noreply@envato.com</a>
                </li>
            </ul>
        </li>

    </ul>

    <div class="contacts__list-buttons-wrap">

    <button type="button" class="contacts__button contacts__button--locations">Our Locations
        <svg class="contacts__button--locations-icon" width="8px" height="8px">
            <use href="./images/icons/sprite.svg#icon-arrow-right-button-white"></use>
        </svg>
    </button>

    <button type="button" class="contacts__button contacts__button--franchise">Franchise
        <svg class="contacts__button--franchise-icon" width="8px" height="8px">
            <use href="./images/icons/sprite.svg#icon-arrow-right-button"></use>
        </svg>
    </button>

    </div>

    </div>
</section>