<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__title">
        <p class="footer__title-text">homemade ice cream made</p>
        <p class="footer__title-type">with passion</p>
      </div>
      <div class="footer__social">
        <ul class="footer__social-svg">
          <li class="footer__social-type">
            <a class="footer__social-link" href="https://github.com/">
              <svg class="footer__social-click" width="32" height="32">
                <use href="./images/icons/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-type">
            <a class="footer__social-link" href="https://telegram.org/">
              <svg class="footer__social-click" width="32" height="32">
                <use href="./images/icons/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-type">
            <a class="footer__social-link" href="https://www.facebook.com/">
              <svg class="footer__social-click" width="32" height="32">
                <use href="./images/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__social-contacts">
          <span class="footer__social-span"
            >Feel free to contact
            <a class="footer__social-tel" href="tel:+61 (0) 383 766 284"
              >+61 (0) 383 766 284</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <div class="footer__copyright">
      <span class="copyright">&copy; 2019 - IceCream. All Rights Reserved.</span>
    </div>
  </div>
</footer>
