<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <img
    srcset="
      ./images/gallery/desktop/collage@2x-desktop.jpg 2560w,
      ./images/gallery/desktop/collage-desktop.jpg    1280w,
      ./images/gallery/tablet/collage@2x-tab.jpg      1536w,
      ./images/gallery/tablet/collage-tab.jpg          768w,
      ./images/gallery/mobile/collage@2x-mob.jpg       640w,
      ./images/gallery/mobile/collage-mob.jpg          320w
    "
    src="./images/gallery/mobile/collage-mob.jpg"
    alt="gallery images"
    class="gallery__img"
  />
</section>
