<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <!-- <img
    srcset="
      ./images/gallery/desktop/collage@2x-desktop.jpg 2560w,
      ./images/gallery/desktop/collage-desktop.jpg    1280w,
      ./images/gallery/tablet/collage@2x-tab.jpg      1536w,
      ./images/gallery/tablet/collage-tab.jpg          768w,
      ./images/gallery/mobile/collage@2x-mob.jpg       640w,
      ./images/gallery/mobile/collage-mob.jpg          320w
    "
    src="./images/gallery/mobile/collage-mob.jpg"
    alt="gallery images"
    class="gallery__img"
  /> -->

  <div class="grid">
    <!-- <div class="stamp stamp1"></div>
    <div class="stamp stamp2"></div> -->
    <div class="grid-item">
      <img src="./images/gallery/desktop/masonry-dt@3x/frozen@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item grid-item--height3">
      <img src="./images/gallery/desktop/masonry-dt@3x/holding@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item grid-item--height2">
      <img src="./images/gallery/desktop/masonry-dt@3x/pinkice@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item grid-item--main">
      <img src="./images/gallery/desktop/masonry-dt@3x/main@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item grid-item--width3">
      <img src="./images/gallery/desktop/masonry-dt@3x/girl@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item">
      <img src="./images/gallery/desktop/masonry-dt@3x/dessert@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item">
      <img src="./images/gallery/desktop/masonry-dt@3x/street@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item grid-item--height2">
      <img src="./images/gallery/desktop/masonry-dt@3x/dog@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item grid-item--width2 grid-item--height3">
      <img src="./images/gallery/desktop/masonry-dt@3x/drink@3x.jpg" alt="" class="grid__img" />
    </div>
    <div class="grid-item grid-item--width2 grid-item--height3">
      <img
        src="./images/gallery/desktop/masonry-dt@3x/weirddessert@3x.jpg"
        alt=""
        class="grid__img"
      />
    </div>
  </div>
</section>
