<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <!-- <img
    srcset="
      ./images/gallery/desktop/collage@2x-desktop.jpg 2560w,
      ./images/gallery/desktop/collage-desktop.jpg    1280w,
      ./images/gallery/tablet/collage@2x-tab.jpg      1536w,
      ./images/gallery/tablet/collage-tab.jpg          768w,
      ./images/gallery/mobile/collage@2x-mob.jpg       640w,
      ./images/gallery/mobile/collage-mob.jpg          320w
    "
    src="./images/gallery/mobile/collage-mob.jpg"
    alt="gallery images"
    class="gallery__img"
  /> -->

  <div class="grid">
    <div class="group group-one">
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/frozen-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/frozen-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/frozen-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/frozen-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/frozen-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/frozen-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/frozen-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/frozen-mob@1x.jpg"
          alt="fruit ice"
          class="grid__img"
        />
      </div>
    </div>
    <div class="group group-two">
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/holding-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/holding-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/holding-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/holding-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/holding-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/holding-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/holding-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/holding-mob@1x.jpg"
          alt="hand holding ice cream"
          class="grid__img"
        />
      </div>
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/pinkice-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/pinkice-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/pinkice-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/pinkice-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/pinkice-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/pinkice-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/pinkice-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/pinkice-mob@1x.jpg"
          alt="berry ice"
          class="grid__img"
        />
      </div>
    </div>
    <div class="group group-three">
      <div class="grid-main">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/main-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/main-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/main-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/main-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/main-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/main-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/main-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/main-mob@1x.jpg"
          alt="ice cream set"
          class="grid__img"
        />
      </div>
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/girl-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/girl-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/girl-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/girl-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/girl-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/girl-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/girl-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/girl-mob@1x.jpg"
          alt="girl with an ice cream"
          class="grid__img"
        />
      </div>
    </div>
    <div class="group group-four">
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/dessert-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/dessert-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/dessert-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/dessert-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/dessert-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/dessert-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/dessert-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/dessert-mob@1x.jpg"
          alt="desser with ice cream"
          class="grid__img"
        />
      </div>
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/street-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/street-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/street-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/street-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/street-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/street-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/street-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/street-mob@1x.jpg"
          alt="ice cream cone with street background"
          class="grid__img"
        />
      </div>
    </div>
    <div class="group group-five">
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/dog-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/dog-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/dog-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/dog-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/dog-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/dog-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/dog-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/dog-mob@1x.jpg"
          alt="dog licking ice cream"
          class="grid__img"
        />
      </div>
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/drink-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/drink-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/drink-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/drink-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/drink-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/drink-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/drink-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/drink-mob@1x.jpg"
          alt="ice drink"
          class="grid__img"
        />
      </div>
    </div>
    <div class="group group-six">
      <div class="grid-item">
        <img
          srcset="
            ./images/gallery/desktop/masonry-dt@3x/weirddessert-dt@3x.jpg  3840w,
            ./images/gallery/desktop/masonry-dt@2x/weirddessert-dt@2x.jpg  2560w,
            ./images/gallery/desktop/masonry-dt@1x/weirddessert-dt@1x.jpg  1280w,
            ./images/gallery/tablet/masonry-tab@2x/weirddessert-tab@2x.jpg 1536w,
            ./images/gallery/tablet/masonry-tab@1x/weirddessert-tab@1x.jpg  768w,
            ./images/gallery/mobile/masonry-mob@2x/weirddessert-mob@2x.jpg  640w,
            ./images/gallery/mobile/masonry-mob@1x/weirddessert-mob@1x.jpg  320w
          "
          src="./images/gallery/mobile/masonry-mob@1x/weirddessert-mob@1x.jpg"
          alt="ice cream dessert"
          class="grid__img"
        />
      </div>
    </div>
  </div>
</section>
