<header class="header">
    <div class="header__container container">
        <div class="logo">
        <a href="./index.html">
            <img
            src="./images/logo/logo.png" alt="logo" class="logo_img"
            
            srcset="./images/logo/logo.png 199w,
                    ./images/logo/logo@2x.png 398w"
            sizes="199px, 100vw"
            >
        </a>
    </div>
       <div class="header__buttons">
        <button type="button" class="mobile-menu__button" data-menu-button>
            <svg class="mobile-menu__icon">
                <use href="./images/icons/sprite.svg#icon-burger" class="mobile-menu__icon--open"></use>
                <use href="./images/icons/sprite.svg#icon-close" class="mobile-menu__icon--close"></use>
            </svg>
        </button>
        <button type="button" class="header__button">Buy now
            <svg class="header__button-icon">
                <use href="./images/icons/sprite.svg#icon-arrow-right-button"></use>
            </svg>
        </button>
    </div>
        <div class="menu-wrapper" data-menu>
            <nav class="menu">
                <button type="button" class="menu__button">Buy now
                    <svg class="menu__button-icon">
                        <use href="./images/icons/sprite.svg#icon-arrow-right-button"></use>
                    </svg>
                </button>
            <ul class="menu__list">
                <li class="menu__item"><a href="./index.html" class="link">Home</a></li>
                <li class="menu__item"><a href="#about" class="link">About us</a></li>
                <li class="menu__item"><a href="#about" class="link">How it’s made?</a></li>
                <li class="menu__item"><a href="#products" class="link">Our products</a></li>
                <li class="menu__item"><a href="#contacts" class="link">Contact</a></li>
            </ul>
        </nav>
    </div>
    </div>
</header>