<section class="hero">
    <div class="container">
        <div class="hero__images">
            <img
        src="./images/hero/mobile/icecream-hero.jpg" 
        srcset="./images/hero/mobile/icecream-hero.jpg 171w,
    ./images/hero/mobile/icecream-hero@2x.jpg 342w,
    ./images/hero/tablet/icecream-hero.jpg 143w,
    ./images/hero/tablet/icecream-hero@2x.jpg 286w,
    ./images/hero/desktop/icecream-hero.jpg 236w,
    ./images/hero/desktop/icecream-hero.jpg 452w"
    sizes="(min-width:320px) 171px, 
(min-width:768px) 143px, 
(min-width:1280px) 236px"
        
        alt="icecream"
        class="hero__images--icecream" 
            >
         <div class="hero__images--circle"></div>
             <img
             src="./images/hero/tablet/girl-hero.jpg" 
             srcset="./images/hero/tablet/girl-hero.jpg 168w,
./images/hero/tablet/girl-hero@2x.jpg 336w,
./images/hero/desktop/girl-hero.jpg 293w,
./images/hero/desktop/girl-hero@2x.jpg 586w"

sizes="(min-width:768px) 168px, 
(min-width:1280px) 293px, 100vw"
             alt="girl"
             class="hero__images--girl"
             >
        </div>
        <div class="hero__title-wrapper">
            <h1 class="hero__title">ice cream <br>
                made with <br>
                <span class="hero__title-cl"> 
                    passion
                </span>
            </h1>
            <ul class="hero__number-list">
                <li class="hero__number-list-item"><span class="hero__number-list-digit">16</span>cafes</li>
                <li class="hero__number-list-item"><span class="hero__number-list-digit">23</span>food trucks</li>
            </ul>
        </div>
            <div class="hero__buttons">
                <button type="button" class="hero__buttons--products">Products</button>
                <button type="button" class="hero__buttons--made">How it’s made?</button>
            </div>
            <div class="header__about">
                <img srcset="./images/hero/tablet/milk-hero.jpg 124w,
                ./images/hero/tablet/milk-hero@2x.jpg 248w,
                ./images/hero/desktop/milk-hero.jpg 188w,
                ./images/hero/desktop/milk-hero@2x.jpg 376w
                "
                sizes="(min-width:768px) 124px, 
                (min-width:1280px) 188px, 100vw"
                
                src="./images/hero/tablet/milk-hero.jpg" alt=""
                class="header__about-img">
                <div class="header__description">
                <p class="header__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <a href="#about" class="header__description-button" >
                 <img src="./images/hero/tablet/arrow-right.png" alt="">
                </a>
            </div>
</div>
</section>  