<section>
    <div class="container products">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item products__item--first">
                <h3 class="products__second-title">ice cream</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <li class="products__item products__item--second">
                <div>
                </div>
                <h3 class="products__second-title">ice coffee</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            
            </li>
            <li class="products__item products__item--third">
                <div>
                </div>
                <h3 class="products__second-title">milkshakes</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            
            </li>
        </ul>

    </div>
</section>