.button {
  cursor: pointer;
  border: none;
  border-radius: 22px;
}
.button--white {
  color: var(--accent-color);
  background-color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: var(--accent-color);
  }
}.about__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  @include font(14px, 700, 1.28, 0.03em);
  width: 176px;
  height: 44px;

  @media screen and (min-width: 768px) {
    & {
      @include font(16px, 700, 1.31, 0.03em);
      margin-top: 62px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin-left: 42px;
      margin-top: 44px;
    }
  }
}

.about__button-icon {
  width: 8px;
  height: 16px;
  margin-left: 14px;
}