.heading-secondary-label {
  font-family: var (--title-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;

  color: var (--label-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
