.menu-wrapper {
  display: none;
  width: 100%;
  height: 100vw;
  top: 0;
  right: 0;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  background-color: var(--mobile-menu-bg);
  animation: slide 100ms linear;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 254px;
  }
  @media screen and (min-width: 1280px) {
    width: auto;
    height: auto;
    background-color: transparent;
    display: block;
    padding: 0;
  }
}

.menu_wrapper.is-open {
  @media screen and (max-width: 767px) {
    @keyframes slide {
      from {
        width: 0px;
      }
      to {
        width: 100%;
      }
    }
  }
  @media screen and (min-width: 768px) {
    @keyframes slide {
      from {
        width: 0px;
      }
      to {
        width: 260px;
      }
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    flex-direction: row-reverse;
  }
}

.is-open {
  display: block;
  position: fixed;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  height: 100vh;
}

.is-open .mobile-menu__icon--open {
  display: none;
}

.mobile-menu__icon--close {
  display: none;
}

.is-open .mobile-menu__icon--close {
  display: block;
}

.mobile-menu__button {
  top: 23px;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}

.mobile-menu__button.is-open {
  position: fixed;
  display: flex;
}

.mobile-menu__icon {
  width: 20px;
  height: 20px;
}
.menu__list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    align-items: center;
    flex-direction: row;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 13px;

  @media screen and (min-width: 1280px) {
    margin-right: 35px;
    margin-bottom: 0;
  }
}

.menu__button {
  display: block;
  width: 209px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-weight: bold;
  line-height: 1.31;
  color: var(--accent-color);
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 1280px) {
    width: 159px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 110px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 186px;
  }
}

.menu__button:hover {
  background-color: var(--button-second-accent-color);
}

.menu__button-icon {
  margin-left: 16px;
  width: 10px;
  height: 10px;
}

.menu__list::before {
  content: '';
  display: block;
  border: 1px solid var(--menu-border);
  margin-bottom: 11px;
}

.menu__item::after {
  content: '';
  display: block;
  border: 1px solid var(--menu-border);
  margin-top: 11px;
}

@media screen and (min-width: 1280px) {
  .menu__list::before,
  .menu__item::after {
    content: none;
  }
}
.menu__link--curent {
  color: var(--accent-color);
}
