.contacts {
  padding-bottom: 113px;
  background-image: linear-gradient(var(--white-color) 84px, var(--section-bg) 84px);

  @media screen and (min-width: 768px) {
    padding-bottom: 158px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 165px;

    background-image: linear-gradient(var(--white-color) 102px, var(--section-bg) 102px),
      url('/images/contacts/desktop/img-bg.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/images/contacts/desktop/img-bg@2x.png'),
        linear-gradient(var(--white-color) 102px, var(--section-bg) 102px);
      backrgound-position: y -50%;
    }
  }
}

.contacts__list {
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
  }
}

.contacts__list-item {
  justify-content: space-between;
  flex-direction: column;
  display: flex;

  width: 100%;
  height: 427px;
  padding: 43px 20px;

  background-color: var(--white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    width: calc((100% - 20px * 3) / 3);
    height: 544px;
    padding: 50px 30px;
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 30px * 3) / 3);
    height: 572px;
    padding: 51px 44px 62px;
  }
}

.contacts__list-item-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  padding: 3px 24px;
  width: fit-content;
  border-radius: 4px;
  display: block;

  color: var(--white-color);
  background-color: var(--ice-coffee-color);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.contacts__list-item-label--truck {
  background-color: var(--milkshakes-color);
}

.contacts__list-item-decore {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--separate-line-color);
}
.contacts__list-item-city,
.contacts__list-item-days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;

  color: var(--black-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__list-item-city {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 14px;
  }
}

.contacts__list-item-city-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--light-brown-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
    letter-spacing: 0.04em;
  }
}
.contacts__list-item-schedule-content {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
  }
}
.contacts__list-item-days--open {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: var(--label-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts__list-item-contacts-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.link.contacts__list-item-contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--light-brown-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.link.contacts__list-item-contacts-link:hover,
.link.contacts__list-item-contacts-link:focus {
  color: var(--label-color);
}

.contacts__button {
  width: 161px;
  height: 44px;

  margin-left: auto;
  margin-right: auto;
  border-radius: 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);

  &:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
      margin-right: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0px;
  }
}

.contacts__button--locations {
  padding: 12px 20px;
  color: var(--white-color);
  background-color: var(--accent-color);

  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
  }
  @media screen and (min-width: 768px) {
    width: 191px;
    padding: 12px 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
    padding: 12px 35px;
  }
}

.contacts__button--franchise {
  padding: 12px 32px;
  color: var(--accent-color);
  background-color: var(--white-color);

  &:hover,
  &:focus {
    background-color: var(--button-second-accent-color);
  }
  @media screen and (min-width: 768px) {
    width: 174px;
    padding: 12px 38px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
    padding: 12px 39px;
  }
}

.contacts__list-buttons-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
