.reviews {
  padding-top: 80px;
  padding-bottom: 170px;

  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 197px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 234px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.reviews__img {
  margin-bottom: 30px;
}

.reviews__content {
  background-color: var(--slider-color);
  padding: 43px 60px 26px 60px;
  margin-bottom: 30px;
  max-width: 926px;
  z-index: 0;

  // &::before {
  //   content: '';
  //   width: 54px;
  //   height: 40px;
  //   position: absolute;
  //   top: 28px;
  //   left: 61px;
  //   z-index: 10;
  //   background-image: url('../../images/slider/brackets@1x.png');

  //   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //     background-image: url('../../images/slider/brackets@2x.png');
  //   }
  // }
}

.reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  z-index: 20;
  background-image: repeating-linear-gradient(
    to bottom,
    var(--slider-color),
    var(--slider-color) 30px,
    var(--separate-line-color) 30px,
    var(--separate-line-color) 31px
  );
}
