.footer {
    width: 100%;
    background-color: var(--section-bg);
}

.footer__box {
    display: flex;
    flex-wrap: wrap;
}

.footer__title {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 43px;
    padding-right: 34px;
    width: 260px;
}

@media screen and (min-width: 768px) {
    .footer__title {
        width: 360px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__title {
        width: 520px;
        padding-right: 0;
    }
}

.footer__title-text {
    font-size: 18px;
    line-height: 1.17;
    color: var(--label-color);
    margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
    .footer__title-text {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__title-text {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
        margin-bottom: 15px;
    }
}

.footer__title-type {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .footer__title-type {
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.06em;
    }
}

@media screen and (min-width: 1280px) {
    .footer__title-type {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
    }
}

.footer__social {
    padding-bottom: 43px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.footer__social-svg {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
}

@media screen and (min-width: 1280px) {
    .footer__social-svg {
        margin-bottom: 50px;
    }
}

.footer__social-type:not(:last-child) {
    margin-right: 24px;
}

.footer__social-link {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    border-radius: 50%;
    background-color: var(--label-color);
}

@media screen and (min-width: 768px) {
    .footer__social-link {
        width: 34px;
        height: 34px;
    }
}

@media screen and (min-width: 768px) {
    .footer__social-click {
        width: 34px;
        height: 34px;
    }
}

.footer__social-contacts {
    text-align: right;
}

.footer__social-span {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: var(--black-color);
}

@media screen and (min-width: 768px) {
    .footer__social-span {
    font-size: 14px;
    line-height: 1.86;
    }
}

@media screen and (min-width: 1280px) {
    .footer__social-span {
        font-size: 16px;
        line-height: 1.87;
    }
}

.footer__social-tel {
    text-decoration: none;
    color:var(--accent-color);
}

.footer__copy {
    border-top: 1px solid var(--separate-line-color);
}

.footer__copyright {
    padding-top: 22px;
    padding-bottom: 25px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: var(--light-brown-color);
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        line-height: 1.86;
        max-width: 290px;
        padding-top: 29px;
        padding-bottom: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__copyright {
        padding-top: 9px;
        padding-bottom: 10px;
    }
}