.header{
    position: absolute;
    width: 100%;
    left:50%;
    transform: translateX(-50%);
    z-index: 100;
           
        }
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;

    @media screen and (min-width:768px){
       
            padding-top: 37px;
        
    }
}


@media screen and (min-width:1280px) {
    .logo{
margin-left: -70px;
    }
}

.logo_img{
    width: 199px;
    height: 50px;
}

.header__buttons{
    display: flex;
    align-items: center;

    @media screen and (min-width:1280px) {
            display: none;
    }
}

    

.header__button{
    display: block;
    width: 160px;
    height: 44px;
    margin-left: 30px;
    line-height: 1.31;
    font-weight: bold;
    text-align: center;
    color: var(--accent-color);

    background-color: var(--white-color);
    border-radius: 22px;
    transition: background-color 250ms var(--timing-function);
    @media screen and (max-width:768px) {
        display: none;
        
    }
}
.header__button:hover{
    background-color: var(--buton-second-accent-color);
}
.mobile-menu__button.is-open +.header__button{
    display: none;
}
.header__button-icon{
    margin-left: 16px;
    width: 8px;
    height: 8px;
}

.header__mobile-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

