.hero {
  overflow: hidden;
  height: 502px;
  background-color: var(--hero-header-bg);

  @media screen and (min-width: 768px) {
    height: 399px;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
  }
}

.hero__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 192px;

  @media screen and (min-width: 768px) {
    padding-top: 102px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 171px;
  }
}

.hero__title {
  display: block;
  font-family: var(--title-font);
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--white-color);
  z-index: 4;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title-cl {
  font-size: 45px;
  display: block;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 35px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 60px;
  }
}
.hero__number-list {
  display: none;
  position: relative;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hero__number-list-item {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--white-color);

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero__number-list-item::after {
  content: '';
  position: absolute;
  right: -8px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white-color);
  z-index: 1;
}

.hero__number-list-digit {
  color: var(--accent-color);
  font-family: var(--title-font);
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  text-transform: uppercase;
  z-index: 5;
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__buttons {
  display: flex;
  margin-top: 19px;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  z-index: 3;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero__buttons--products {
  width: 62px;
  height: 24px;
  margin-right: 8px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 1280px) {
    width: 104px;
    height: 40px;
    margin-right: 15px;
  }
}

.hero__buttons--products:hover {
  background-color: var(--button-accent-color);
}

.hero__buttons--made {
  width: 83px;
  height: 24px;
  color: var(--accent-color);
  background-color: var(--white-color);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 1280px) {
    width: 138px;
    height: 40px;
  }
}

.hero__buttons--made:hover {
  background-color: var(--buton-second-accent-color);
}

.hero__images {
  width: 100%;
  position: relative;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.hero__images--circle {
  position: absolute;
  top: 75px;
  left: 15px;
  z-index: 0;
  width: 346px;
  height: 344px;
  background-color: var(--label-color);
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    top: 30px;
    left: 270px;
    width: 324px;
    height: 322px;
  }

  @media screen and (min-width: 1280px) {
    top: 52px;
    left: 350px;
    width: 538px;
    height: 538px;
  }
}

.hero__images--icecream {
  position: absolute;
  top: 92px;
  left: 100px;
  width: 171px;
  height: 410px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    top: 63px;
    left: 350px;
    width: 143px;
    height: 336px;
  }

  @media screen and (min-width: 1280px) {
    top: 108px;
    left: 480px;
    width: 236px;
    height: 557px;
  }
}

.hero__images--girl {
  position: absolute;
  top: 266px;
  right: 0;
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    width: 293px;
    height: 232px;
    top: 433px;
    right: 0;
  }
}

.header__about {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 19px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 56px;
    margin-left: -40px;
  }
}

@media screen and (min-width: 1280px) {
  .header__about-img {
    width: 188px;
    height: 191px;
  }
}

.header__description {
  width: 135px;
  margin-left: 30px;
  padding-top: 30px;

  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-left: 30px;
    padding-top: 0;
  }
}

.header__description-text {
  text-align: left;
  font-size: 8px;
  line-height: 1.5;
  color: var(--white-color);

  @media screen and (min-width: 1280px) {
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    color: var(--white-color);
  }
}

.header__description-button {
  display: block;
  background-color: transparent;
  padding-top: 7px;
  cursor: pointer;
}
