.products {
  padding-bottom: 98px;
  padding-top: 122px;

  @media screen and (min-width: 768px) {
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 119px;
    padding-top: 127px;
  }
}

.products__item--first {
  background-color: var(--ice-cream-color);
  position: relative;

  &::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);
    position: absolute;
    z-index: 100;
    display: block;
    content: '';
    width: 249px;
    height: 252px;

    background-image: url(../images/products/mobile/pic1.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 226px;
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      transform: translate(-50%, -62%);
    }

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/mobile/pic1@2x.jpg);
    }

    @media (min-width: 480px) {
      background-image: url(../images/products/tablet/pic1.jpg);
    }

    @media (min-width: 480px) and (min-device-pixel-ratio: 2),
      (min-width: 480px) and (min-resolution: 192dpi),
      (min-width: 480px) and (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet/pic1@2x.jpg);
    }

    @media (min-width: 768px) {
      background-image: url(../images/products/desktop/pic1.jpg);
    }

    @media (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-width: 768px) and (min-resolution: 192dpi),
      (min-width: 768px) and (min-resolution: 2dppx) {
      background-image: url(../images/products/desktop/pic1@2x.jpg);
    }
  }
}

.products__item--second {
  background-color: var(--ice-coffee-color);
  position: relative;

  &::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);
    position: absolute;
    z-index: 100;
    display: block;
    content: '';
    width: 249px;
    height: 252px;

    background-image: url(../images/products/mobile/pic2.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 226px;
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      transform: translate(-50%, -62%);
    }

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/mobile/pic2@2x.jpg);
    }

    @media (min-width: 480px) {
      background-image: url(../images/products/tablet/pic2.jpg);
    }

    @media (min-width: 480px) and (min-device-pixel-ratio: 2),
      (min-width: 480px) and (min-resolution: 192dpi),
      (min-width: 480px) and (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet/pic2@2x.jpg);
    }

    @media (min-width: 768px) {
      background-image: url(../images/products/desktop/pic2.jpg);
    }

    @media (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-width: 768px) and (min-resolution: 192dpi),
      (min-width: 768px) and (min-resolution: 2dppx) {
      background-image: url(../images/products/desktop/pic2@2x.jpg);
    }
  }
}

.products__item--third {
  background-color: var(--milkshakes-color);
  position: relative;

  &::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);
    position: absolute;
    z-index: 100;
    display: block;
    content: '';
    width: 249px;
    height: 252px;

    background-image: url(../images/products/mobile/pic3.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 226px;
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      transform: translate(-50%, -62%);
    }

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/mobile/pic3@2x.jpg);
    }

    @media (min-width: 480px) {
      background-image: url(../images/products/tablet/pic3.jpg);
    }

    @media (min-width: 480px) and (min-device-pixel-ratio: 2),
      (min-width: 480px) and (min-resolution: 192dpi),
      (min-width: 480px) and (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet/pic3@2x.jpg);
    }

    @media (min-width: 768px) {
      background-image: url(../images/products/desktop/pic3.jpg);
    }

    @media (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-width: 768px) and (min-resolution: 192dpi),
      (min-width: 768px) and (min-resolution: 2dppx) {
      background-image: url(../images/products/desktop/pic3@2x.jpg);
    }
  }
}

.products__label {
  margin-bottom: 15px;

  font-family: var(--title-font);
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--label-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  margin-bottom: 30px;

  font-family: var(--title-font);
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;

    font-size: 48px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;

    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.products__item {
  display: block;
  padding: 155px 40px 40px 40px;

  width: 280px;
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    padding: 155px 11px 40px 11px;
    width: 220px;
  }

  @media screen and (min-width: 1280px) {
    padding: 165px 45px 50px 45px;
    flex-basis: 329px;
  }
}

.products__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 130px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 30px;
  }
}

.products__list {
  display: block;
  margin-top: 144px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 260px;
  }
}

.products__second-title {
  margin-bottom: 30px;

  font-family: var(--title-font);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;

    font-size: 30px;
    line-height: 1.13;
  }
}

.products__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--white-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }

  &::before {
    content: '';
    display: block;
    width: 26px;
    height: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    background-image: url(../images/products/dots/dots-sec-ver.png);

    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
    }
  }
}

.products__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 62px;
  }
}
